@{
    ViewData["Title"] = "List Leaves";
}
@model dynamic

<div class="hero">
    <h2>@User.Identity.Name.Split('\\')[1]'s Requests</h2>
</div>

<br />
<br />
<br />

<div class="row">
    <!-- Pending -->
    <br />
    <h2>Pending Requests</h2>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Reason</th>
                    <th>Approval</th>
                    <th>Approver</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Pending)
            {
                <tr>
                    <td>@item.From.ToShortDateString()</td>
                    <td>@item.To.ToShortDateString()</td>
                    <td>@item.Reason</td>
                    <td>@item.Approved</td>
                    <td>@item.Approver</td>
                    <td>
                        <div id="deleter-@item.Id">
                            <button type="button" class="btn btn-danger delete" value="@item.Id">Delete</button>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        </div>

    <!-- Approved -->
    <br />
    <h2>Approved Requests</h2>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Reason</th>
                    <th>Approval</th>
                    <th>Approver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Approved)
            {
                <tr>
                    <td>@item.From.ToShortDateString()</td>
                    <td>@item.To.ToShortDateString()</td>
                    <td>@item.Reason</td>
                    <td>@item.Approved</td>
                    <td>@item.Approver</td>
                   
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Rejected -->
    <br />
    <h2>Rejected Requests</h2>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Reason</th>
                    <th>Approval</th>
                    <th>Approver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Rejected)
            {
                    <tr>
                        <td>@item.From.ToShortDateString()</td>
                        <td>@item.To.ToShortDateString()</td>
                        <td>@item.Reason</td>
                        <td>@item.Approved</td>
                        <td>@item.Approver</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(".delete").click(function(){
        console.log("Delete clicked");
        console.log($(this).val());
        var element = '#deleter-' + $(this).val();
        var dats = {
            sid: $(this).val()
        }
        $.ajax({
            type: "POST",
            url: "List/Delete",
            data: dats,
            success: function () {
                $(element).text("Deleted your leave :/");
            },
            error: function (a, b, c) {
                $(element).text("Error occured. Try again");
            }
        });

    });
</script>