@{
    ViewData["Title"] = "Team Calendar";
}
@model IEnumerable<Leave.Models.LeaveRequest>

<link rel='stylesheet' href='~/lib/fullcalendar/dist/fullcalendar.min.css' />
<script src='~/lib/moment/moment.js'></script>
<script src='~/lib/fullcalendar/dist/fullcalendar.min.js'></script>

<div class="hero">
    <h2>Team Calendar</h2>
</div>

<br />
<br />
<br />

<div class="row">

    <div id="calendar"></div>


</div>
<script>
    $(document).ready(function () {

        // page is now ready, initialize the calendar...
        var colors = ["#F44336", "#FF9800", "#607D8B"]
        var RealEvents = [];

            @foreach(var item in Model)
            {
                <text>
                    var enddate = new Date('@item.To.ToString("yyyy-MM-dd")');
                    enddate.setDate(enddate.getDate() + 1);
                    @if (item.Approved == "NA")
                    {
                        <text>
                        RealEvents.push(
                        {
                            title: '@item.Name'+' [Pending]',
                            start: '@item.From.ToString("yyyy-MM-dd")',
                            end: enddate.toISOString().substring(0, 10),
                            color: colors[1]
                            }
                        );
                        </text>
                     }
                    @if(item.Approved=="Approved")
                        {
                         <text>
                        RealEvents.push(
                        {
                            title: '@item.Name',
                            start: '@item.From.ToString("yyyy-MM-dd")',
                            end: enddate.toISOString().substring(0, 10),
                            color: colors[0]
                            }
                        );
                        </text>



                        }

                </text>

            }


        $('#calendar').fullCalendar({
            // put your options and callbacks here
            //defaultView: 'timelineMonth',
            events: RealEvents
        });
        console.log(RealEvents);
    });
</script>
<style>
    .fc-sun {
        background-color: #eeeeee;
    }

    .fc-sat {
        background-color: #eeeeee;
    }
</style>